
@media print{
    @page {
        size: landscape;
        margin-left: 1em;
        margin-right:1em;
        margin-top: 2em;
        margin-bottom: 2em;
        width: 100%;
    }


    h1 {
        margin-top: 20px;
    }

    .sorter {
        display: none;
    }

    div.menu {
        display: none;
    }

    .pretty_options {
        display: none;
    }

    .print_hide {
        display: none;
    }

    .detailview {
        float: left;
        position: static;
        display: block;
        margin-left: auto;
        margin-right: auto;
        table-layout: auto;
        height: 100%;
        width: 100%;
    }

    .detailview td, th {
        page-break-after:always;
        width:10%;
        height: 100%;
        padding:20px;
    }

    table.data {
        table-layout:auto;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
    }

    table.data td, th{
        font-size:10px;
        font-weight: bold;
    }

    button {
        display: none;
    }

    *.button {
        display: none;
    }

    input {
        display: none;
    }
}
