
@media print{
    @page {
        size: portrait;
        margin-left: 1em;
        margin-right:1em;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    h1 {
        display: none;
    }

    form {
        width: 100%;
    }   
    
    body {
        background-color:#ffffff;
        background-image: None;
    }

    table.data {
        float: left;
        position: absolute;
        display: inline-block;
        background-color:#ffffff;
        table-layout:fixed;
        left:0;
        margin-left: auto;
        margin-right: auto;
        text-align:left;
        width:150%;
        border: 3px solid black;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    table.data tr {
        page-break-inside: avoid;
        page-break-after: auto;
        text-align:left;
        border: 1px solid black;
        width:100%;
        background-color:#ffffff;
    }

    table.data td {
        background-color:#ffffff;
        page-break-inside: avoid;
        page-break-after: auto;
        white-space: normal;
        font-weight: bold;
        font-size: 1em;
        text-align:left;
        height: 15px;
        max-width: 220px;
    }

    .sorter {
        display: none;
    }

    div.menu {
        display: none;
    }

    button {
        display: none;
    }

    *.button {
        display: none;
    }
}
