
@media print{
    @page {
        size: landscape;
        margin-left: 1em;
        margin-right:1em;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    h1 {
        margin-top: 20px;
    }

    table {
        float: left;
        position: absolute;
        display: inline-block;
        table-layout:fixed;
        left:0;
        margin-left: auto;
        margin-right: auto;
        text-align:left;
        width:100%;
        border: 3px solid black;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    table tr {
        page-break-inside: avoid;
        page-break-after: auto;
        text-align:left;
        border: 1px solid black;
        width:100%;
    }

    table td {
        page-break-inside: avoid;
        page-break-after: auto;
        white-space: nowrap;
        font-weight: bold;
        font-size: 10;
        text-align:left;
        height: 10px;
    }

    .sorter {
        display: none;
    }

    div.menu {
        display: none;
    }
}
